body{
    margin: 0;
    padding: 0;
    background-color: #dddddd;
}

*{
    box-sizing: border-box;
}


.contenido{
    max-width: 1140px;
    background-color: #dddddd;
    height: auto;
    margin: 40px auto;
    padding: 20px;
}

h1{
	font-size: 30px;
	margin: 0;
}

header{
	float: left;
	width: 100%;
	background-image: url("https://media.istockphoto.com/vectors/black-background-vector-id1167050865?k=6&m=1167050865&s=612x612&w=0&h=I-wf_Vv-MzqTfcYd8AxZKKvXGM3yC6DNNAEOHswvaMY=");
	background-size: 100px 100px;
	text-align: center;
	padding: 30px 15px;
	margin-bottom: 40px;
}

.portada img{
	width: 15%;
	height: 100px;
	float: left;
}

.portada .texto{
	width: 85%;
	padding: 10px;
	height: 100px;
	text-align: center;
	float: right;
}

.portada .texto h1{
	color: white;
	font-size: 30px;
	margin: 0 auto;
}

.portada .texto p{
	color: white;
	font-size: 20px;
	text-align: center; 
	margin: 0 auto;
}

nav{
	float: left;
	width: 100%;
	background-color: #dddddd;
	text-align: center;
	margin-bottom: 20px;
}

nav ul{
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

nav li{
	list-style: none;
	float: left;
	width: 100%;
}

nav li a{
	display: block;
	line-height: 50px;
	text-decoration: none;
	font-size: 25px;
	color: #daa520;
	background-color: rgba(0, 0, 0, 0.932);
}

nav .menu{
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	background-color: #2f3036;
	text-align: center;
	font-size: 25px;
	padding: 10px 0;
	display: none;
}



nav input[type=checkbox]{
	display: none;
}

input[type=checkbox]:checked ~ #menu{
	display: block;
}

nav li:hover a{
	background-color: rgb(255, 255, 255);
	color: #daa520;
}


.formulario.contenido.izquierda,
.formulario.contenido.derecha{
    float: left;
	width: 50%;
	padding: 0px 10px;
}